
<div id="title"></div>
<div id="buyer"></div>


<table class="table table-hover" width="100%">
    <tbody id="purchase-list">
    </tbody>
</table>

@section Scripts
{
    <script src="~/js/Request/Purchase.js"></script>
    <script src="~/js/View/Purchase/Index.js"></script>
}